

body {
    background-color: rgb(211, 226, 233);
    text-align: left;
  }

select {
  width: var(--formWidth);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formInput {
  background-color: rgb(255, 255, 255);
  width: var(--formWidth);
  border: none;
}

.ui-slider  {
  width: var(--formWidth);
}

#description {
  height: 50px;
}

input[type=submit] {
  width: var(--formWidth);
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

hr {
  width: var(--formWidth);
  text-align:left;
  margin-left:0
}

#mapid { 
  height: 85vh; 
  width: 55vh;
  margin: auto;

}
