

body {
    text-align: left;
}



#container {
    width: 95%;
    margin: auto;

}


#mapid { 
    height: 85vh; 
    width: 70vw;
    float: left;
    border-radius: 6px;


}

#keyBlock {
    float: left;
    padding-left: 15px;

}

table {
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 6px;
}

table img {
    width: 20px; 
}


