
body {
  background-color: rgb(211, 226, 233);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: center;
}

img.popupImg {
  width: 30vw;
  height: 30vh;
}

